.DS_Store 
node_modules 
dataSchema.drawio

/dist 

    
#fichiers env 
locaux .env.local 
.env.*.local 
.env
    
#Fichiers journaux 
npm-debug.log* 
fil-debug.log* 
fil-error.log* 
pnpm-debug.log* 
    
#Répertoires et fichiers 
.idea 
.vscode 
*.suo 
*.ntvs* 
*.njsproj 
*.sln 
